<main id="root">
  <div>
    <img class="center" src="https://i.giphy.com/media/z9AUvhAEiXOqA/giphy.webp" height=75% width=75% alt="this is fine" />
    <style>
      .center {
        margin: 10px auto 20px;
        display: block;
      }
    </style>
  </div>
</main>