.auth-modal {
  width: 400px;
  padding: 40px;
  border-radius: 5px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  transform: translate(-50%, -50%);
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.auth-modal-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}