.modify-bttns {
  text-align: right;
}

.show-edit-bttn {
  font: normal 16px 'Open Sans', sans-serif;
  text-align: right;
  padding: 4px 16px 4px 16px;
  background: black;
  border: 2px solid white;
  color: white;
  border-radius: 4px;
}

.show-delete-bttn {
  font: normal 16px 'Open Sans', sans-serif;
  text-align: right;
  padding: 4px 16px 4px 16px;
  background: black;
  border: 2px solid white;
  color: white;
  border-radius: 4px;
}

.show-edit-bttn:hover {
  color: #c0c0c0;
}

.show-delete-bttn:hover {
  color: #c0c0c0;
}

.show-back {
  position: fixed;
  left: 104px;
  top: 78px;
  height: 48px;
  width: 48px;
}

.show-back:hover {
  animation: iconOpacity 1s infinite alternate;
}

.show-media {
  /* padding-top: 104px; */
  text-align: center;
  padding-top: 78px;
  /* padding-bottom: 52px; */
  padding-bottom: 78px;
  background-color: rgb(33, 33, 36);
}

.show-photo {
  /* display: block; */
  /* margin-left: auto;
  margin-right: auto; */
  /* display: inline-block; */
  max-height: 640px;
  /* max-width: 1280px; */
  max-width: 100%;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.show-edit-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  padding: 30px;
  background: white;
  border-radius: 5px;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.show-edit-title {
  font: normal 18px 'Open Sans', sans-serif;
  height: 36px;
  width: 100%;
  margin-bottom: 20px;
  border-style: inset;
  border-radius: 3px;
  padding: 3px;
}

.show-edit-description {
  font: normal 18px 'Open Sans', sans-serif;
  height: 125px;
  width: 100%;
  margin-bottom: 20px;
  border-style: inset;
  border-radius: 3px;
  padding: 3px;
  resize: none;
}

.show-submit-edit-bttn {
  font: normal 16px 'Open Sans', sans-serif;
  height: 36px;
  width: 100%;
  color: white;
  background: rgb(33, 33, 36);
}

.show-edit-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.show-bottom {
  display: flex;
  /* padding-left: 15%;
  padding-right: 15%; */
  justify-content: center;
  margin-top: 52px;
  margin-bottom: 52px;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.show-bottom-left {
  width: 300px;
}

.show-bottom-right {
  padding-left: 52px;
  width: 600px;
}

.show-title {
  text-align: right;
  font-size: 36px;
}

.show-user {
  color: black;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

.show-user:hover {
  text-decoration-line: underline;
}

.show-created {
  text-align: right;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.show-description {
  text-align: right;
  font-size: 18px;
  line-height: 1.2;
  padding-top: 5px;
  /* padding-bottom: 5px; */
  padding-bottom: 10px;
}

.show-comments {
  
}

.show-comments-header {
  font-size: 20px;
  padding-bottom: 20px;
}

.comment-form-container {
  display: flex;
  padding-bottom: 10px;
}

.comment-form {
  margin-right: 2px;
  width: 500px;
  font: inherit;
  line-height: 1.2;
  border-style: inset;
  border-radius: 3px;
  padding: 3px;
  resize: none;
}

.comment-submit-bttn {
  font: normal 16px 'Open Sans', sans-serif;
  padding: 4px 16px 4px 16px;
  background: black;
  border: 2px solid white;
  color: white;
  border-radius: 4px;
}

.comment-submit-bttn:hover {
  cursor: pointer;
  color: #c0c0c0;
}

.comment-item {
  display: flex;
  width: 548px;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.2;
}

.comment-item:hover {
  
}

.comment-user {
  color: #128fdc;
  padding-bottom: 5px;
}

.comment-body {
  word-wrap: break-word;
}

.comment-delete {
  align-self: flex-start;
  font: normal 18px 'Open Sans', sans-serif;
  padding: 0px 0px 0px 0px;
  background: #f3f5f6;
  border: 1px solid #f3f5f6;
  color: #c0c0c0;
}