/* .show-comments {
  
} */

.show-comments-header {
  font-size: 20px;
  padding-bottom: 20px;
}

.comment-form-container {
  display: flex;
  padding-bottom: 10px;
}

.comment-form {
  margin-right: 2px;
  width: 500px;
  font: inherit;
  line-height: 1.2;
  border-style: inset;
  border-radius: 3px;
  padding: 3px;
  resize: none;
}

.comment-submit-bttn {
  font: normal 16px 'Open Sans', sans-serif;
  padding: 4px 16px 4px 16px;
  background: black;
  border: 2px solid white;
  color: white;
  border-radius: 4px;
}

.comment-submit-bttn:hover {
  cursor: pointer;
  color: #c0c0c0;
}

.comment-item {
  display: flex;
  width: 548px;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.2;
}

.comment-item:hover {
  
}

.comment-user {
  color: #128fdc;
  padding-bottom: 5px;
}

.comment-body {
  word-wrap: break-word;
}

.comment-delete {
  align-self: flex-start;
  color: #c0c0c0;
  cursor: pointer;
}

.comment-delete:hover {
  color: red;
}